<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Firmness</th>
      <th>Animal</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <!-- You could use a model object here and use an ngFor to display the rows.  -->
    <tr>
      <th scope="row">1</th>
      <td>Manchego</td>
      <td>Hard</td>
      <td>Cow</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Idaho Goatster</td>
      <td>Hard</td>
      <td>Goat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Stinking Bishop</td>
      <td>Semi-Soft</td>
      <td>Cow</td>
    </tr>
  </tbody>
</table>
