<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
    tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Select Cheese By <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#">Firmness</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Animal</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Cheese Name</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Substitute</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Find In Stores</a>
    <li role="menuitem"><a class="dropdown-item" href="#">Give Me That Random Cheese!</a>
    <li role="menuitem"><a class="dropdown-item" href="#">See My Favorites</a>
    </li>
  </ul>
</div>
<br>

<app-display></app-display>
